{% extends "layout/base.html" %}
{% block title %}Home Page{% endblock %}

{% block style %}
<style>
    .quiz-form{
        padding: 1em;
    }

    li{
        list-style-type: none;
    }

    .question{
        margin-left: -1em;
    }

    .btn{
        margin-left: 1em;
        margin-top: 1em;
    }

    .form-list{
        margin-left: 2em;
        margin-top: 0.5em;
        padding: 0.5em;
    }
</style>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">FeedBack</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">About</a>
        </li>
        <!-- <li class="nav-item">
        <a class="nav-link" href="#"></a>
        </li> -->
    </ul>
    <span class="navbar-text">
        {{ usr }}
    </span>
    </div>
</nav>
{% endblock %}


{% block content %}
<div class="quiz-form container">
    <form name="quiz" action="{{ url_for('question_submit') }}" method="post" name="buttons" id="quiz" class="form-group">

        {% for question in questions %}
            <div class="form-list">
                <li><div class="question lead">{{ question[1] }}</div></li>
                {% for i in range(2,5) %}
                    <input class="form-check-input" type="radio" name="{{ question[0] }}" value="{{ question[i].split(':')[1] }}"">
                        {{ question[i].split(':')[0] }}
                    <br>
                {% endfor %}
            </div>
        {% endfor %}
        <input type="submit" value="Submit" class="btn btn-primary"></input>

    </form>
</div>

{% endblock %}